/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

.card{
  transition:all 0.5s ease-in-out;
  transform:scale(0.95);}
.card:hover {
  box-shadow: 1px 1px 20px -8px #3f8bf9;
  transform:scale(1);}

/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; } }

/************************* start navbar to categories **************/

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  border-radius: 3px;
  box-shadow: 0px 8px 16px 0px #15428d;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in;
  visibility: hidden;
  top: 140%;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: all 150ms linear;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #15428d;
    color:#FFF;
    border-top: 1px solid #FFF;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
   /* display: block;*/
   visibility: visible;
   opacity: 1;
   top: 100%;}


/************************* End navbar to categories **************/


/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #15428d; /* #929FBA;*/
   }


/************************ Start login page *************************/
.container.dark-grey-text.mt-5.form {
    width: 70%;
    padding: 30px;
    border-radius: 20px;
    box-shadow: inset 6px 6px 6px #cbced1,inset -6px -6px 16px -7px #3f8bf9;
}

/* .start .login .form-group label */
.label {
    text-transform: uppercase;
    float: left;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
}
/* .start .login .form-group .form-control */
.form-group .input{
    color: #333;
    background: #ecf0f3;
    font-size: 15px;
    height: 50px;
    padding: 20px;
    letter-spacing: 1px;
    border: none;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1,inset -6px -6px 6px #fff;
}
.form-group .input:focus {
    box-shadow: inset 6px 6px 6px #cbced1,inset -3px -3px 10px #3f8bf9;
    outline: none
}
.form-group .input::placeholder {
    color: #808080;
    font-size: 14px;
}
.form-button {
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    background: #3f8bf9;
    padding: 12px 15px 11px;
    border-radius: 20px;
    border: none;
    box-shadow:   6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: all 0.5s ease-in-out;
}
.form-button:hover,.form-button:focus {
    color: #fff;
    letter-spacing: 3px;
    box-shadow: none;
    outline: none;
}

/************************ End login page *************************/

/************************ Start my order page *************************/
.order {
    padding: 20px;
    border: 1px solid #ceedf9;
    box-shadow: 1px 1px 30px -8px #CCC;
    transition: all 1.4s ease-in-out;
    transform: scale(0.9);
}
.order:hover {
    box-shadow: 1px 1px 25px -8px #3f8bf9;
    transform: scale(1);
}
/************************ End my order page *************************/

/************************ Start profile page *************************/
.profile {
    padding: 20px;
    border: 1px solid #ceedf9;
    box-shadow: 1px 1px 30px -8px #CCC;
    transition: all 1.4s ease-in-out;
    transform: scale(0.9);
    border-radius: 15px;
}
.profile:hover {
    box-shadow: 1px 1px 25px -8px #3f8bf9;
    transform: scale(1);
}
.edit-profile {
    margin-left:0;
    transition: all 1.4s ease-in-out;
}
.edit-profile:hover {
    box-shadow: 1px 1px 10px -6px #3f8bf9;
    border: 1px solid #ceedf9;
}
/************************ End profile page *************************/


