
{% extends "base.html" %}

{% block content %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
        <div class="sign_in_form">
            <div class="sign_in_form_top">
                <h1>Change Password</h1>
            </div>
            <div class="signin">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-primary">change</button>
                </form>
            </div>
        </div>
    </div>
  </main>
{% endblock content %}
