
{% extends "base.html" %}

{% block content %}
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5 form">
      <form action="" method="post">
      {% csrf_token %}
      <!--{% if form.email.errors %}-->
        <!--{{ form.email.errors }}-->
      <!--{% endif %}-->
          <!--<p>{{ form.email }}</p>-->
        {% include 'includes/form.html' %}

        <input type="submit" class="form-button form-control my-4" value="Reset password">
      </form>
    </div>
  </main>
{% endblock content %}
